<div><a href="/rock">Play Rock</a></div>
<div><a href="/paper">Play Paper</a></div>
<div><a href="/scissors">Play Scissors</a></div>

<h2><%=@display_comp%></h2>
<h2><%=@win_loss%></h2>

<div><a href="/">Rules</a></div>
